#deleteReviewModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  border: 5px solid black;
  border-radius: 5px;
}

#confirmDeleteQuestionReview {
  margin-top: 0;
}

#deleteReviewButtonContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#deleteReviewButton {
  margin-bottom: 10px;
  height: 40px;
  background-color: rgb(223, 81, 65);
  color: white;
  box-shadow: 3px 3px black;
  border: 3px solid black;
}

#deleteReviewButton:hover{
  cursor: pointer;
}

#cancelDeleteReview {
  margin-bottom: 10px;
  height: 40px;
  background-color: rgb(100, 100, 100);
  color: white;
  box-shadow: 3px 3px black;
  border: 3px solid black;
}

#cancelDeleteReview:hover{
  cursor: pointer;
}
