#reviewListFirstName {
  font-size: 20px;
  margin-bottom: 10px;
}

#reviewListDate {
  font-size: 18px;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
}

#reviewListText {
  margin-top: 10px;
  margin-bottom: 5px;
}

.reviewListIndivContainer {
  margin-bottom: 40px;
}

#postYourReviewButton {
  background-color: rgb(85, 85, 85);
  color: white;
  border: 3px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px black;
  font-size: 16px;
  /* margin: 5px 5px 5px 0; */
}

#postYourReviewButton:hover {
  cursor: pointer;
}

#ReviewListDeleteButton {
  background-color: rgb(85, 85, 85);
  color: white;
  border: 3px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px black;
  font-size: 16px;
}
