* {
  font-family: sans-serif;
  /* margin: 0; */
}

#tilesContainer {
  display: flex;
  /* gap: 20px; */
  justify-content:space-evenly;
  flex-wrap: wrap;
  border-top: 2px solid lightgray;
  padding-top: 20px;
  width: 95%;
}

.spotTile:hover {
  cursor: pointer;
}

.tileImage {
  height: 400px;
  width: 400px;
  border-radius: 5px;
}

.location-container {
  display: flex;
  justify-content: space-between;

}
