.hidden{
  display: none;
}

#navbar{
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  margin: 20px 40px;
  /* border-bottom: 1px solid lightgray;
  padding-bottom: 20px; */
}

#navbar > li {
  list-style-type: none;
}

#profileButton {
  margin-right: 30px;
}

#right-side-nav {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

#create-a-spot-li {
  align-self: flex-end;

}

#createSpotLink {
  text-decoration: none;
  color: rgb(5, 109, 109);
  font-size: 18px;
}

#manageSpotsLink {
  text-decoration: none;
}
